{% extends 'dolist/base.html' %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col image">
                <img style="height: 450px;" src="https://images.unsplash.com/photo-1512314889357-e157c22f938d?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Website Image">
            </div>
            <div class="col text">
                <h1>Welcome to Todos</h1>
                <p>This website allows you to manage your tasks and stay organized. With our user-friendly interface and powerful features, you can easily create, update, and delete tasks. Start organizing your life today!</p>
            </div>
        </div>
    </div>

{% endblock %}